html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
#def, #atc, #hp {
    display: block;
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px; 
}
#statusFightName{
    font-size: 21px;

}
#btnOK{
    border: none;
    background-color:rgb(11, 179, 11);
    color: aliceblue;
    font-size: 16px; 
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btnFight{
    border: none;
    background-color:rgb(255, 0, 0);
    color: aliceblue;
    font-size: 40px; 
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
}

#btnSelect{
    border: none;
    background-color:rgb(0, 68, 255);
    color: aliceblue;
    font-size: 16px; 
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
}
.image-fight{
    transform:scale(-1,1)
}
.ready-for-fight{
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.hpBar{
    margin-bottom:20px; 
}
#btnBack{
    border: none;
    background-color:rgba(255, 0, 0, 0.897);
    color: aliceblue;
    font-size: 16px; 
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
}
#btnBack, #btnOK, #btnSelect :hover{
}